
body {
    background-color: #ffebcd;
    padding: 10px;

}
header {
  background: #2F3061; /*Dark Blue*/
  color: #f7fff7; /*Almost White*/
}
h1 {
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    float: left;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5px;
}
img {
  width: 100%;
  border-radius: 20px;
}
.box {
  padding: 10px;
}
p {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    clear: left;
}
.text {
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    clear: left;
    color: yellow;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    clear: left;
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
  }
  
  li a:hover:not(.active) {
    background-color:deepskyblue;
  }
  
  .active {
    background-color: deepskyblue;
  }
  .btn {
    color: #f7fff7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    font-size: x-large;
    font-weight: bold;

}
.btn:hover {
    background: rgba(47, 48, 97, 80%);
}


  footer {
    background: #2F3061;
    color: #f7fff7; /*Almost White*/
    line-height: 3;
    
}